body {
	color: aqua;
	background-color: black;
	font-family: palatino;  
}

h2, h3 {
  color: midnightblue;
	font-family: charcoal;
  text-align: center;	
	/*font-size:*/
}

table, th, td {
	border: 1px solid white;
	width: 200px;
	margin: auto;
}

table {
	border-collapse: collapse;
}

th {
	color: gray;
	font-family: courier;
	font-weight: bold
}

tr:hover {
	background-color: snow;
}